.App {
  text-align: center;
}

.App-header {
  background-color: #5baba3;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.homeButton {
  color: white;
}

.homeButton:hover {
  color: rgb(56, 119, 215);
}

h4 {
  font-style: italic;
}

.lastRating {
  margin-bottom: 10px;
}

#commentInput {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#reviewComments {
  position: relative;
  bottom: 20px;
}

#comments {
  position: relative;
  bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}